<div  class="page-wrapper">
 <!-- MENU SIDEBAR-->
 <aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="shop/products">
      <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
    </a>
  </div>
  <div>
    <!-- <app-product-category-menu></app-product-category-menu> -->
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a href="#">
              <i ></i>
            </a>
          </li>
          <li>
            <a >
              <i class="fas fa-file-alt"></i> Proceduri
            </a>
          </li>            
          <li>
            <a>
              <i class="fas fa-exclamation-circle"></i>Actualizări
            </a>
          </li>
        </ul>
    </nav>
</div>
</div>
</aside>
<!-- END MENU SIDEBAR-->
    <div class="page-container">
       <!-- HEADER DESKTOP-->
       <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
              <h1 class="header-intro-text">
                Portalul angajatului - construiește-ți un viitor de succes în organizația ta!
              </h1>
            </div>
          </div>
        </div>
        <div class="links">
          <button routerLink="/home" class="logout-btn">
            <i class="fas fa-chevron-left"></i> Înapoi în pagina principală
          </button>
        </div>
      </header>
      <!-- END HEADER DESKTOP-->
      <!-- MAIN CONTENT-->
      <div class="portal-container">
        <div class="portal-card">
          <img src="/assets/images/traininggif5.gif" class="portal-image">
          <h2 class="portal-title">Modul <br>traininguri</h2>
          <button routerLink="/training" class="security-btn">Acces</button>
      </div>
      <div class="portal-card">
        <img src="/assets/images/beneficii1.gif" class="portal-image">
        <h2 class="portal-title">Modul <br>beneficii</h2>
        <button routerLink="/shop" class="security-btn">Acces</button>
    </div>
    <div class="portal-card">
      <img src="/assets/images/documente.gif" class="portal-image">
      <h2 class="portal-title">Modul <br>documente</h2>
      <button routerLink="/employeeDocs" class="security-btn">Acces</button>
  </div>
      </div>
    <!--<router-outlet></router-outlet>-->
    </div>
  </div>
  <div class="page-wrapper">
  <footer>
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </footer>
</div>