<div class="video-container">
    <div class="video-header">
      <h1 class="video-title">Modul de Instruire Video pentru Angajați</h1>
    </div>
    <div class="video-body">
      <p class="video-description">
          Bine ați venit la modulul de instruire video pentru angajați, pus la dispoziție de echipa noastră de Resurse Umane. Acest video conține informații esențiale și ghiduri practice pentru a vă ajuta să vă familiarizați cu politica și procedurile companiei noastre, precum și pentru a vă dezvolta abilitățile specifice rolului dumneavoastră în cadrul organizației.
      </p>
      <p class="video-description">
          Vă recomandăm să urmăriți cu atenție acest video și să luați notițe pentru a reține informațiile cheie. Dacă aveți întrebări sau nelămuriri, vă rugăm să vă adresați managerului dumneavoastră sau echipei de Resurse Umane.
      </p>
      <div class="video-player-container">
          <video #videoPlayer controls style="width: 100%; height: auto;">
              <source [src]="videoPath" type="video/mp4">
              Browser-ul dvs. nu suportă tagul video.
          </video>
      </div>
      <p class="video-description">
        Ne dorim să vă oferim cele mai bune resurse de instruire și să vă ajutăm să vă dezvoltați abilitățile și cunoștințele în rolul dumneavoastră. Sperăm că acest modul de instruire video vă va fi util și vă va aduce un plus de încredere în activitatea dumneavoastră.
      </p>
    </div>
  </div>
  