.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 85px;
    margin-right: 85px;
  }
  
  .hover-underline:hover {
    text-decoration: underline;
  }
  .product-box a {
    text-decoration: none;
  }
  .product-box a:hover {
    text-decoration: underline;
  }

  .custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .product-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .product-title:hover {
    color: #0da8e4;
  }

  .product-price {
    font-size: 16px;
    color: #0da8e4;
    margin-bottom: 10px;
  }
  
  .product-box {
    width: 280px; /* Ajustează dimensiunea la nevoia ta */
   
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .product-content {
    flex-grow: 1;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    height: 50px; /* Setează înălțimea dorită */
    overflow: hidden;
  }
  
  .product-title h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Numărul maxim de linii vizibile */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .price {
    font-size: 16px;
    color: #0da8e4;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #0da8e4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0c94bf;
  }
  
  .product-card {
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease;
    margin-bottom: 30px;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    display: block;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .product-image:hover img {
    transform: scale(1.1);
  }