<div class="container quiz-container py-5">
    <h1 class="display-5 fw-bold welcome-title">Bine ai venit în Aplicația de Quiz</h1>
    <p class="col-md-8 fs-4"></p>
    <h4 class="rules-title">Reguli:</h4>
    <ul class="quiz-rules">
        <li>Răspunsul corect îți aduce 10 puncte</li>
        <li>Răspunsul incorect îți aduce -10 puncte</li>
        <li>Vei avea 60 de secunde pentru a răspunde la fiecare întrebare</li>
        <li>Reîncărcarea paginii va reseta Quizul</li>
    </ul>
    <h1 class="good-luck-message">Mult succes!</h1>
    <button class="btn start-btn" routerLink="/question" (click)="startQuiz()">Începe</button>
</div>
