.full-screen-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #okta-sign-in-widget .okta-form-title .auth-org-logo img {
    max-height: 150px !important;
  }
  
  #okta-sign-in-widget .okta-button-primary {
    background-color: #3b3937 !important;
  }
  

